* {
    margin: 0;
    padding: 0;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    overflow: hidden;
  }
  .child-view {
    position: absolute;
    width:100%;
    height: 25rem;
    transition: all .5s cubic-bezier(.55,0,.1,1);
  }
  .slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(320px, 0);
    transform: translate(320px, 0);
  }
  .slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-320px, 0);
    transform: translate(-320px, 0);
  }
  
ul {
  text-align: left;
  list-style-type: none;
  padding-bottom: 10px;
}
li {
  display: block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.btn-blue{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 255, 0.44);
  color: white;
  font-size: 1.2rem;
}
